.scanner {
  position: relative;
  display: flex;
  background: var(--sand4);
  overflow: hidden;

  :global(.scan-region-highlight) {
    z-index: 10;

    svg {
      stroke: var(--sand4) !important;
    }

    :global(svg.code-outline-highlight) {
      stroke: var(--green10) !important;
    }
  }
}

.video {
  position: relative;
  z-index: 5;
  width: 100%;
}

.spinner {
  position: absolute;
  inset: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  animation: spin 750ms linear infinite;
  z-index: 0;
  pointer-events: none;
  background: transparent;
  border-radius: 100%;

  svg {
    width: 2rem;
    height: 2rem;
    fill: var(--sand12);
  }

  [data-processing='true'] & {
    z-index: 1000;
    background: var(--sand12);

    svg {
      fill: var(--sand1);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(90deg);
    }
  }
}
