.header {
  position: sticky;
  top: 0;
  width: 100%;
  box-shadow: 0 1px 0 var(--blackA5);
  background: var(--white);
  padding: 0 var(--gap-m);
  z-index: 1000;

  @media (max-width: 600px) {
    padding: 0 var(--gap-m);
  }
}

.disabled {
  pointer-events: none;
}

.container {
  display: flex;
  align-items: center;
  gap: var(--gap-l);
  height: var(--header-height);

  @media (max-width: 600px) {
    gap: var(--gap-m);
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: var(--gap-s);
  font: var(--text-base);
  font-weight: 600;
  color: var(--sand10);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  border-radius: 2px;
  outline: 0px solid var(--violet4);
  margin-right: auto;
  transition: all var(--transition-speed);

  &:hover {
    color: var(--sand12);
  }

  &:focus-visible {
    outline: 4px solid var(--violet4);
  }

  @media (max-width: 600px) {
    font-size: 0;
  }
}

.links {
  display: flex;
  align-items: center;
  gap: var(--gap-m);
  height: 100%;

  @media (max-width: 600px) {
    gap: var(--gap-xs);
  }
}

.link {
  display: flex;
  align-items: center;
  gap: var(--gap-s);
  font: var(--text-s);
  font-weight: 600;
  color: var(--sand12);
  text-decoration: none;
  padding: var(--gap-s);
  transition: all var(--transition-speed);
  outline: 0px solid var(--violet4);
  border-radius: 6px;

  &:hover {
    color: var(--violet8);
  }

  &:focus-visible {
    outline: 4px solid var(--violet4);
  }

  @media (max-width: 600px) {
    span {
      display: none;
    }
  }
}
