.placeholder {
  display: block;
  border-radius: 6px;
  height: 1rem;
  width: 100%;
  background: var(--sand8);
  animation: loading 1s infinite ease;

  @keyframes loading {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.25;
    }
    100% {
      opacity: 1;
    }
  }
}
