.section {
  --section-padding-x: var(--gap-l);
  --section-padding-y: var(--gap-xl);
  padding: var(--section-padding-y) var(--section-padding-x);
  border-bottom: 1px solid var(--sand6);

  &:last-child {
    border-bottom: none;
  }

  &[data-background='primary-gradient'] {
    background: linear-gradient(to bottom right, var(--violet4), var(--cyan3));
  }

  &[data-grow] {
    &,
    > div,
    > div > div {
      // The div selectors target the wrapping container and flex elements
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: stretch;
      flex-grow: 1;
    }
  }
  &[data-grow='screen-height'] {
    min-height: calc(100svh - var(--header-height));
  }

  @media (max-width: 600px) {
    --section-padding-x: var(--gap-m);
    --section-padding-y: var(--gap-l);
  }
}
