.svgIcon {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    fill: currentColor;
    stroke: currentColor;
    height: 100%;
    width: 100%;
  }

  &[data-no-fill='true'] {
    svg {
      fill: none;
    }
  }

  &[data-no-stroke='true'] {
    svg {
      stroke: none;
    }
  }

  &[data-size='xxs'] {
    width: var(--icon-size-xxs);
    height: var(--icon-size-xxs);
  }
  &[data-size='xs'] {
    width: var(--icon-size-xs);
    height: var(--icon-size-xs);
  }
  &[data-size='s'] {
    width: var(--icon-size-s);
    height: var(--icon-size-s);
  }
  &[data-size='m'] {
    width: var(--icon-size-m);
    height: var(--icon-size-m);
  }
  &[data-size='l'] {
    width: var(--icon-size-l);
    height: var(--icon-size-l);
  }
  &[data-size='xl'] {
    width: var(--icon-size-xl);
    height: var(--icon-size-xl);
  }
}
