.switch {
  --switch-speed: 125ms;
  --switch-speed-delay: 75ms;
  --switch-speed-lag: 350ms;
  --switch-track-width: 40px;
  --switch-track-height: 16px;
  --switch-thumb-width: 24px;
  --switch-thumb-height: 24px;
  --switch-color-border: var(--sand7);
  --switch-color-icon: var(--sand10);
  --switch-size-icon: 16px;

  width: var(--switch-track-width);
  height: var(--switch-track-height);
  padding-right: calc(var(--switch-track-width) - var(--switch-thumb-width));
  padding-left: 0;
  flex-shrink: 0;
  background: var(--sand5);
  border: none;
  box-shadow: inset 0 0 0 1px var(--switch-color-border);
  border-radius: 100px;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  transition-duration: var(--switch-speed), var(--switch-speed-lag), var(--transition-speed), var(--transition-speed),
    var(--transition-speed);
  transition-delay: 0s, var(--switch-speed-delay), 0s, 0s, 0s;
  transition-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1), cubic-bezier(0.34, 1.56, 0.64, 1), ease, ease, ease;
  transition-property: padding-left, padding-right, box-shadow, background-color, border-color;

  &:focus-visible {
    .thumb {
      box-shadow:
        inset 0 0 0 1px var(--violet9),
        0px 1px 2px 0px rgba(0, 0, 0, 0.1),
        0 0 0 2px var(--violet4);
    }
  }

  &:hover {
    .thumb {
      --switch-color-border: var(--sand8);
      background: var(--sand2);
    }
  }

  &:active {
    .thumb {
      transform: scale(0.8, 0.8);
      transition: none;
    }
  }

  &[data-state='checked'] {
    --switch-color-border: var(--green8);
    --switch-color-icon: var(--green8);
    background: var(--green9);
    padding-left: calc(var(--switch-track-width) - var(--switch-thumb-width));
    padding-right: 0;
    transition-delay: var(--switch-speed-delay), 0s, 0s, 0s, 0s;
    transition-duration: var(--switch-speed-lag), var(--switch-speed), var(--transition-speed), var(--transition-speed),
      var(--transition-speed);

    .thumb {
      --switch-color-border: var(--green8);
      background: var(--green1);
      transform-origin: right center;
    }

    &:hover {
      .thumb {
        --switch-color-border: var(--green11);
        background: var(--green3);
      }
    }

    .icon {
      &[data-icon-on] {
        display: block;
      }
      &[data-icon-off] {
        display: none;
      }
    }
  }

  &[disabled] {
    pointer-events: none;
    opacity: 0.5;
  }

  &[data-size='small'] {
    --switch-thumb-width: 16px;
    --switch-thumb-height: 16px;
  }
}

.thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: var(--switch-thumb-height);
  margin-top: calc((var(--switch-track-height) - var(--switch-thumb-height) - 1px) / 2);
  background: var(--sand1);
  border-radius: 100px;
  box-shadow:
    inset 0 0 0 1px var(--switch-color-border),
    0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  transform-origin: left center;
  transition: all var(--transition-speed);
}

.icon {
  color: var(--switch-color-icon);
  width: var(--switch-size-icon);
  height: var(--switch-size-icon);
  transition: all var(--transition-speed);

  svg {
    width: 100%;
    height: 100%;
    fill: currentColor;
    stroke: currentColor;
  }

  &[data-icon-on] {
    display: none;
  }
  &[data-icon-off] {
    display: block;
  }
}
