.content {
  border-radius: 0.25rem;
  padding: 0.3rem 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--sand12);
  background-color: var(--white);
  z-index: 1000;
  max-width: 30rem;
  font-size: 0.8rem;
  line-height: 1.5;
  word-break: break-word;
  font-family: sans-serif;
  box-shadow:
    0 0 0 1px var(--blackA4),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);
  user-select: none;
  animation-duration: var(--transition-speed);
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;

  &[data-state='delayed-open'] {
    animation-name: fade;
  }

  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.trigger {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  flex-grow: 0;
}

.arrowBorder {
  fill: var(--blackA4);
  stroke: var(--blackA4);
  stroke-width: 2px;
  margin-top: 1px;
  margin-right: 1px;

  [data-side='bottom'] &,
  [data-side='left'] & {
    margin-right: -1px;
  }
}

.arrowFill {
  fill: var(--white);
}
